{% extends "base.html" %}

{% block content %}

    {% if blog|length == 0 %}
      <p>No blogs yet!</p>
    {% else %}

        {% for post in blog %}
            
            <h2><a href="http://localhost:5000\blog?id={{ post.id}}"+str(id)>{{ post.subject }}</a></h2>
            <form>
                <input type = "hidden" name="task-id" value="{{post.id}}">
            </form>
            <p>{{post.text}}</p>
            
            <hr />
        {% endfor %}

    {% endif %}

{% endblock %}